<div class="goto_container">
<!--     <div id="top_goto_menu" class="goto_contents">
        <ul>
            <li><a href="#">{{_('ホーム')}}</a></li>
            <li><a href="#">{{_('会社情報')}}</a></li>
            <li><a href="#">{{_('経営理念')}}</a></li>
            <li><a href="#">{{_('業務内容')}}</a></li>
            <li><a href="#">{{_('採用情報')}}</a></li>
        </ul>
    </div> -->
    <div class="goto_contents">
        <span class="goto_btn" style="width: 200px;"><a href="javascript:company();">{{_('ホーム')}}</a></span>
        <span class="goto_btn" style="width: 200px;">{{_('会社情報')}}</span>
        <span class="goto_btn" style="width: 200px;">{{_('経営理念')}}</span>
        <span class="goto_btn" style="width: 200px;">{{_('業務内容')}}</span>
        <span class="goto_btn" style="width: 200px;">{{_('採用情報')}}</span>
    </div>
</div>
