@charset "UTF-8";

body {
    background-color: #FFFFFF;
    margin: 0px;
    /*text-align: center;*/
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/*
* css: header
*/
.header_container {
    height: 80px;
    margin-top: 5px;
}

.header_contents {
    width: 1000px;
    margin: auto; 
}

/*
* css:goto
*/
.goto_container {
    height: 40px;
    margin-top: 5px;
}

#top_goto_menu ul {
    list-style-type: none;
    font-size: 0;
    padding-left: 0px; 
}

#top_goto_menu ul li {
    display: inline;
    font-size: 20px;
    float: left;
}

#top_goto_menu ul li a {
    display: block;
    width: 200px;
    height: 30px;
    background-position: top left;
    background-repeat: no-repeat;
    /*text-indent: 100%;*/
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: #000000;
}

#top_goto_menu ul li:first-child {
    background-color: #6A6AFF;
}

#top_goto_menu ul li a:link {
    text-decoration: none;
}

#top_goto_menu ul li a:hover {
    background-color: #6A6AFF;
    color: #FFFFFF;
}

.top_goto {
    width: 1000px;
    margin: auto;
}

.left_goto {
    width: 200px;
    margin: auto;
}

/*
* css: footer
*/
.footer_container {
    padding-top: 10px;
    clear: both;
}

.footer_contents {
    width: 100%;
    height: 40px;
    background-color: #6A6AFF;
    text-align: center;
    color: #FFF;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
* css: contents
*/
.contents_container {
    height: auto;
    margin-top: 5px;
}

.contents_title {
    width: 1000px;
    margin: auto; 
}

.contents_part01 {
    width: 1000px;
    margin: auto; 
}

.contents_part02 {
    width: 1000px;
    margin: auto; 
}

.contents_part03 {
    width: 1000px;
    margin: auto; 
}

.contents_company {
    width: 320px;
    height: 200px;
    background-image: url(../images/contents_bg_01.png);
    float: left;
    margin-top: 30px;
}

.contents_adopt {
    width: 660px;
    height: 200px;
    background-image: url(../images/contents_bg_02.png);
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.contents_management {
    width: 320px;
    height: 200px;
    background-image: url(../images/contents_bg_01.png);
    float: left;
    margin-top: 30px;
}

.contents_business {
    width: 320px;
    height: 200px;
    background-image: url(../images/contents_bg_01.png);
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.contents_elegant_demeanor {
    width: 320px;
    height: 200px;
    background-image: url(../images/contents_bg_01.png);
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.contents_topics {
    width: 660px;
    height: 400px;
    float: left;
    margin-top: 30px;
}

.contents_contact {
    width: 320px;
    height: 400px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.contents_goto {
    float: left;
}

.contents_main {
    float: left;
    width: 800px;
}

.table_style_01 { /* homepage */
    width: 320px;
    height: 200px;
    border-style: none;
}

.td_style_01 { /* homepage */
    width: 70px;
}

.table_style_02 { /* homepage */
    width: 660px;
    height: 200px;
    border-style: none;
}

.td_style_02 { /* homepage */
    width: 130px;
}

.table_style_03 { /* homepage */
    width: 660px;
    text-align: left;
    border-style: none;
}

.th_style_01 { /* homepage */
    height: 40px;
    background-color:  #6A6AFF;
    padding-left: 10px;
}

.td_style_03 {
    padding-top: 5px;
    padding-left: 40px;
}

.table_style_04 { /* homepage */
    width: 320px;
    text-align: left;
    border-style: none;
}

.td_style_04 {
    padding-top: 5px;
    padding-left: 20px;
}